@using shared.Model;
@using ordinationsapp.Model;
@using ordinationsapp.Data;
@inject ApiService apiService


@page "/Opret"

<div class="opret-wrapper">

    @if (PageState == State.Start)
    {
        <h1 class="opret-title">Opret ordination</h1>

        <div class="opret-grid">

            <div class="opret-card">
                <h3 class="opret-selection-title">Vælg patient</h3>

                <PatientList onSelectPatient="@onSelectPatient" patienter="@patienter"></PatientList>
            </div>

            <div class="opret-card">
                <h3 class="opret-selection-title">Vælg lægemiddel</h3>
                <LaegemiddelList onSelectLægemiddel="@onSelectLægemiddel"></LaegemiddelList>
            </div>

            <div class="opret-card">
                <h3 class="opret-selection-title">Vælg ordination</h3>
                
                <label class="radio-card">
                    <input @onclick='() => selectType(OrdinationType.PN)' type="radio" name="type" />
                    <span>PN</span>
                </label>

                <label class="radio-card">
                    <input @onclick='() => selectType(OrdinationType.DagligSkaev)' type="radio" name="type" />
                    <span>Daglig skæv</span>
                </label>

                <label class="radio-card">
                    <input @onclick='() => selectType(OrdinationType.DagligFast)' type="radio" name="type" />
                    <span>Daglig fast</span>
                </label>



                <button class="opret-btn" @onclick="ClickOpret">Opret ordination</button>
            </div>

        </div>
    }
    else if (PageState == State.OpretPN)
    {
        <OpretPN patient=@patient laegemiddel=@laegemiddel anbefaletDosisPerDøgn=@AnbefaletDosisPerDøgn
                 onFortryd="onFortryd" onDone="onDone" />
    }
    else if (PageState == State.OpretFast)
    {
        <OpretDagligFast patient=@patient laegemiddel=@laegemiddel anbefaletDosisPerDøgn=@AnbefaletDosisPerDøgn
                         onFortryd="onFortryd" onDone="onDone" />
    }
    else if (PageState == State.OpretSkaev)
    {
        <OpretDagligSkaev patient=@patient laegemiddel=@laegemiddel anbefaletDosisPerDøgn=@AnbefaletDosisPerDøgn
                          onFortryd="onFortryd" onDone="onDone" />
    }

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="toast-container">
            <div class="toast-message show">
                <div class="toast-icon">✔</div>
                <div class="toast-text">@message</div>
            </div>
        </div>
    }




</div>


@code {
    private PatientResponse? patient;
    private Laegemiddel? laegemiddel;
    private OrdinationType type;
    private PatientResponse[]? patienter;
    private double AnbefaletDosisPerDøgn { get; set; } = -1;

    private enum State { Start, OpretPN, OpretFast, OpretSkaev }
    private State PageState = State.Start;
    private string message { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        patienter = await apiService.GetPatienter();        
    }

    private void onSelectPatient(PatientResponse p) {
        this.patient = p;
        Console.WriteLine("Selected " + p);
        BeregnAnbefaletDøgnDosis();
    }

    private void onSelectLægemiddel(Laegemiddel l) {
        this.laegemiddel = l;
        Console.WriteLine("Selected " + l);
        BeregnAnbefaletDøgnDosis();
    }

    private void onFortryd() {
        Console.WriteLine("Fortryd");
        PageState = State.Start;
        StateHasChanged();
    }

    private void onDone(string msg) {
        Console.WriteLine("Done");
        this.message = msg;
        PageState = State.Start;
        StateHasChanged();
        delayRemoveMessage();
    }

    private async void delayRemoveMessage()
    {
        await Task.Delay(10000);
        Console.WriteLine("Remove!");
        this.message = "";
        StateHasChanged();
    }

    private void selectType(OrdinationType type) {
        this.type = type;
        Console.WriteLine("Selected " + type);
    }

    private async void BeregnAnbefaletDøgnDosis() {
        if (patient != null && laegemiddel != null)
        {
            AnbefaletDosisDTO dto = await apiService.GetAnbefaletDosisPerDøgn(patient.id, laegemiddel);
            AnbefaletDosisPerDøgn = dto.anbefaletDosis;
            Console.WriteLine(AnbefaletDosisPerDøgn);
        }
    }

    private void ClickOpret() {
        if (type == OrdinationType.PN) {
            PageState = State.OpretPN;
        } else if (type == OrdinationType.DagligFast) {
            PageState = State.OpretFast;
        } else if (type == OrdinationType.DagligSkaev) {
            PageState = State.OpretSkaev;
        }
    }
}